@model Buffet.ViewModels.Buffet.ListClientViewModel;
@{
    ViewData["Title"] = "Lista de Cliente";
}

<div class="container">
    <h4>Clients</h4>
    <div class="d-flex align-content-lg-start justify-content-between">
        <p>
            <a asp-controller="" asp-action="">Criar Novo Cliente</a> |
            <a asp-controller="Admin" asp-action="PanelUser">Voltar</a>
        </p>
        <form  asp-controller="Client" asp-action="ClientFilter" class="mb-2">
            <div class="input-group">
                <div class="form-outline">
                    <input type="search" id="form1" name="descricao" placeholder="Descricao" class="form-control"/>
                </div>
                <button type="submit" style="height:40px" class="btn btn-primary">
                    Pesquisar
                </button>
            </div>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Data Inserido</th>
            <th scope="col">Data Modificado</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        @if (@Model.Clients.Any())
        {
            @foreach (var cliente in @Model.Clients)
            {
                <tr>
                    <td>@cliente.Nome</td>
                    <td>@cliente.Email</td>
                    <td>@cliente.DataNascimento</td>
                    <td>@cliente.DataInserido</td>
                    <td>@cliente.DataModificacao</td>
                    <td>
                        <a asp-controller="Client" asp-action="ClientEdit" asp-route-id="@cliente.Id">Mostrar/Editar</a> |
                        <a asp-controller="Client" asp-action="ClientEdit" asp-route-id="@cliente.Id">Deletar</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th>Não há clientes cadastrados</th>
            </tr>
        }

        </tbody>
    </table>
</div>