@model Buffet.ViewModels.Buffet.Evento.ListEventoViewModel;
@{
    ViewData["Title"] = "Lista de Evento";
}

<div class="container">
    <h4>Eventos</h4>
    @if (Model.MensagemSucesso != null)
    {
        <div class="alert alert-success" role="alert">
            @Model.MensagemSucesso
        </div>
    }
    @if (Model.MensagemErro != null)
    {
        <div class="alert alert-danger" role="alert">
            @Model.MensagemSucesso
        </div>
    }

    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-success" asp-controller="Evento" asp-action="Create">Criar Novo Evento</a>
            <a class="btn btn-primary" asp-controller="Admin" asp-action="PanelUser">Voltar</a>
        </div>
        
        <div class="col pt-4">
            <div class="card">
                <p class="card-header h4">Filtrar Evento Por Nome</p>
                <div class="card-body">
                    <form method="post" asp-controller="Client" asp-action="ClientFilter">
                        <div class="form-group">
                            <label for="descricao">descricao</label>
                            <input class="form-control" type="text" name="descricao" id="descricao" />
                        </div>
                        <input class="btn btn-primary" type="submit" value="Cadastrar" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h4>Listagem de Eventos</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Tipo do Evento</th>
                <th scope="col">Cliente</th>
                <th scope="col">Situação</th>
                <th scope="col">Local</th>
                <th scope="col">Data Inserido</th>
                <th scope="col">Data Modificado</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (@Model.Eventos.Any())
            {
                @foreach (var evento in @Model.Eventos)
                {
            <tr>
                <td>@evento.Nome</td>
                <td>@evento.Tipo</td>
                <td>@evento.Cliente</td>
                <td>@evento.Situacao</td>
                <td>@evento.Local</td>
                <td>@evento.DataInserido</td>
                <td>@evento.DataModificado</td>
                <td>
                    <a asp-controller="Evento" asp-action="EventoEdit" asp-route-id="@evento.Id">Mostrar/Editar</a> |
                    <a asp-controller="Evento" asp-action="EventoDelete" asp-route-id="@evento.Id">Deletar</a>
                </td>
            </tr>
                }
            }
            else
            {
                <tr>
                    <th colspan="8" class="text-center">Não há eventos cadastrados</th>
                </tr>
            }

        </tbody>
    </table>
</div>